//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.03 Education (64-bit)
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Sun 10 27 00:04:20 2024

IO_LOC "io_spi_miso" P10;
IO_PORT "io_spi_miso" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_spi_mosi" R10;
IO_PORT "io_spi_mosi" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_spi_csn" M9;
IO_PORT "io_spi_csn" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_spi_clk" L10;
IO_PORT "io_spi_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED[3]" N16;
IO_PORT "LED[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[2]" N14;
IO_PORT "LED[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[1]" L14;
IO_PORT "LED[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[0]" L16;
IO_PORT "LED[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "jtag_TDO" T7;
IO_PORT "jtag_TDO" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "wbuart_tx" M11;
IO_PORT "wbuart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "resetn_in" C7;
IO_PORT "resetn_in" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_LOC "clk_in" H11;
IO_PORT "clk_in" IO_TYPE=LVCMOS25 PULL_MODE=UP BANK_VCCIO=2.5;
IO_LOC "jtag_TMS" P6;
IO_PORT "jtag_TMS" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "jtag_TCK" T9;
IO_PORT "jtag_TCK" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "jtag_TDI" P8;
IO_PORT "jtag_TDI" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "irq_in[1]" T3;
IO_PORT "irq_in[1]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_LOC "irq_in[0]" T2;
IO_PORT "irq_in[0]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_LOC "wbuart_rx" T13;
IO_PORT "wbuart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
